<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img class="first-slide" src="./assets/images/header_all-pages.png" alt="First slide">
		<div class="container">
		</div>
	  </div>
	  
	  
	</div>
    
    <div class="container">
        <h3 class="h3"> Canapés </h3>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="#">
                            <img class="pic-1" src="/assets/images/products/canapés+fauteuils/item8_pic1.png">
                            <img class="pic-2" src="/assets/images/products/canapés+fauteuils/item8_pic2.png">
                        </a>
                        <ul class="social">
                            <li><a href="/" class="fa fa-shopping-bag"><fa-icon [icon]="faHeart"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faCartPlus"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faPlusSquare"></fa-icon></a></li>
                        </ul>
                        <span class="product-new-label">New</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Canapé "Giacomo"</a></h3>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <div class="price">350€</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="#">
                            <img class="pic-1" src="/assets/images/products/canapés+fauteuils/item9_pic1.png">
                            <img class="pic-2" src="/assets/images/products/canapés+fauteuils/item9_pic2.png">
                        </a>
                        <ul class="social">
                            <li><a href="/" class="fa fa-shopping-bag"><fa-icon [icon]="faHeart"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faCartPlus"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faPlusSquare"></fa-icon></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Canapé "Rizzo"</a></h3>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <div class="price">329€</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="#">
                            <img class="pic-1" src="/assets/images/products/canapés+fauteuils/item10_pic1.png">
                            <img class="pic-2" src="/assets/images/products/canapés+fauteuils/item10_pic2.png">
                        </a>
                        <ul class="social">
                            <li><a href="/" class="fa fa-shopping-bag"><fa-icon [icon]="faHeart"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faCartPlus"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faPlusSquare"></fa-icon></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Canapé "Gallo"</a></h3>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <div class="price">250€
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="">
                            <img class="pic-1" src="/assets/images/products/canapés+fauteuils/item11_pic1.png">
                            <img class="pic-2" src="/assets/images/products/canapés+fauteuils/item11_pic2.png">
                        </a>
                        <ul class="social">
                            <li><a href="/" class="fa fa-shopping-bag"><fa-icon [icon]="faHeart"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faCartPlus"></fa-icon></a></li>
                            <li><a href="" class="fa fa-shopping-cart"><fa-icon [icon]="faPlusSquare"></fa-icon></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="">Canapé "Conti"</a></h3>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul> 
                        <div class="price">599€</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="/product164">
                            <img class="pic-1" src="/assets/images/products/canapés+fauteuils/item12_pic1.png">
                            <img class="pic-2" src="/assets/images/products/canapés+fauteuils/item12_pic2.png">
                        </a>
                        <ul class="social">
                            <li><a href="/" class="fa fa-shopping-bag"><fa-icon [icon]="faHeart"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faCartPlus"></fa-icon></a></li>
                            <li><a href="/product164" class="fa fa-shopping-cart"><fa-icon [icon]="faPlusSquare"></fa-icon></a></li>
                        </ul>
                        <span class="product-new-label">New</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="/product164">Canapé "Ricci"</a></h3>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <div class="price">1229€
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="">
                            <img class="pic-1" src="/assets/images/products/canapés+fauteuils/item13_pic1.png">
                            <img class="pic-2" src="/assets/images/products/canapés+fauteuils/item13_pic2.png">
                        </a>
                        <ul class="social">
                            <li><a href="/" class="fa fa-shopping-bag"><fa-icon [icon]="faHeart"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faCartPlus"></fa-icon></a></li>
                            <li><a href="" class="fa fa-shopping-cart"><fa-icon [icon]="faPlusSquare"></fa-icon></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="">Fauteuil "Bianchi"</a></h3>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <div class="price">189€</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid7">
                    <div class="product-image7">
                        <a href="/product689">
                            <img class="pic-1" src="/assets/images/products/canapés+fauteuils/item14_pic1.png">
                            <img class="pic-2" src="/assets/images/products/canapés+fauteuils/item14_pic2.png">
                        </a>
                        <ul class="social">
                            <li><a href="/" class="fa fa-shopping-bag"><fa-icon [icon]="faHeart"></fa-icon></a></li>
                            <li><a href="/" class="fa fa-shopping-cart"><fa-icon [icon]="faCartPlus"></fa-icon></a></li>
                            <li><a href="/product689" class="fa fa-shopping-cart"><fa-icon [icon]="faPlusSquare"></fa-icon></a></li>
                        </ul>
                        <span class="product-new-label">New</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="/product689">Fauteuil "Russo"</a></h3>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <div class="price">159€
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





<router-outlet></router-outlet>