<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img class="first-slide" src="./assets/images/header_all-pages.png" alt="First slide">
		<div class="container">
		</div>
	  </div>
	  
	  
	</div>
	
	
  </div>

  <section>
    <div class="container">
        <div class="text-muted mt-5 mb-5 text-center display-4">Catégories</div>
        <hr/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <a href="/meubles"><img src="./assets/images/icons/Meubles.png"></a>                           <hr/>
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">Meubles</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <a href="/canapes"><img src="./assets/images/icons/Canape.png"></a>                           <hr/>
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">Canapés & Fauteuils</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <a href="/tables"><img src="./assets/images/icons/Chaise.png"></a>
                        <hr/>
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">Tables & Chaises</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <a href="/decoration"><img src="/assets/images/icons/Deco.png"></a>
                        <hr/>
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">Décoration</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<br>
<router-outlet></router-outlet>